apiVersion: v1
kind: Secret
metadata:
  name: ghcr-login-secret2
data:
  .dockerconfigjson: base64-of-{"auths": {"ghcr.io": {"auth": "base64-of-github-token-key"}}}
type: kubernetes.io/dockerconfigjson
